

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

 /* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

li, a, button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    margin: 0
}

h1, h2,  h3, p, i{
    font-family: "Poppins", sans-serif;
    color: #edf0f1;
    text-decoration: none;
    margin: 0
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
    
}


.logo{
    cursor: pointer;
}



.nav_links{
    list-style: none;
    margin: 0;
  
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: transparent;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgba(72,69,210,1);
    text-decoration: none;
}

button{
    padding: 9px 25px;
    background-color: rgba(72,69,210,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(72,69,210,0.8);
}

.brief_image{
    width: 500px;
}

.brief_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgba(72,69,210,0.7);
    position: relative;
}

.brief_text{
    max-width: 500px;
}

.scroll_indicator{
    position: absolute;
    bottom: 15px;
}



.about_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #24252A;
    height: 70vh;
    position: relative;
}


.about_text{
    max-width: 400px;
}



.profile_image{
    width: 300px;
    padding: 20px 20px;
    border-radius: 250px;
}

.projects_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(72,69,210,0.7);
    height: 70vh;
    position: relative;
}

.projects_text{
    padding-bottom: 15px;
}

.carousel{
    width: 40%;
}

.carousel-inner{
    border-radius: 5px;
    box-shadow: 0px 0px 25px 2px;
}
